*.sw[a-p]
*.o
*.brr
*~
*.chrgb
*.chrsfc
/obj/snes/*
!/obj/*/index.txt
/lst/snes/*
!/lst/*/index.txt
/inclst/snes/*
!/inclst/*/index.txt
/zip.in
/map.txt
/spcmap.txt
/*.sfc
/*.spc
/*.dbg
/*.sc.zip
__pycache__/
*.pyc

# this is Super NES homebrew, not DSiWare
*.DS_Store

/ExternalTools/atom/build-make/*.lnk
!/ExternalTools/atom/build-make/atom-build-make.lnk