
  core:
    customFileTypes:
      "source.assembly.65816.cc65-816-toolchain": [
        "inc"
        "s"
        "lst"
      ]
# add this to your Atom config.cson for Syntax Highlighting

  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
    removeTrailingWhitespace: false
    
# add this to your Atom config.cson to keep your Git Diff
# from being a mess because of whitespace changes